@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;500;800&display=swap");

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Kumbh Sans", sans-serif;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px;
  /* border-bottom: .01rem solid grey; */
}
nav:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: rgb(202, 202, 202);
}
nav .logo-cate {
  display: flex;
  align-items: center;
}
nav .logo-cate ul {
  position: relative;
  color: grey;
  display: flex;
  padding: 0%;
  align-items: center;
  height: 100%;
  list-style: none;
}
nav .logo-cate ul .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px 15px; */
  width: 80px;
  height: 100%;
  cursor: pointer;
}
nav .logo-cate ul .categories:hover {
  color: black;
}
nav .logo-cate ul .slider {
  position: absolute;
  top: 100%;
  height: 5px;
  width: 80px;
  background-color: orange;
  transition: left 400ms ease;
}
nav .logo-cate ul #categories ~ .slider {
  left: 0%;
}
nav .logo-cate ul #men ~ .slider {
  left: 80px;
}
nav .logo-cate ul #women ~ .slider {
  left: 160px;
}
nav .logo-cate ul #about ~ .slider {
  left: 240px;
}
nav .logo-cate ul #contact ~ .slider {
  left: 320px;
}
nav .cart-pro {
  position: relative;
  display: flex;
  align-items: center;
}
nav .cart-pro figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin: 0px 20px;
}
nav .cart-pro .cart svg {
  fill: grey;
  transition: all 400ms ease;
}
nav .cart-pro .cart svg:hover {
  cursor: pointer;
  fill: black;
}
nav .cart-pro .cart:after {
  content: attr(data-total-items);
  bottom: 80%;
  right: 10%;
  padding: 0px 5px;
  border-radius: 10px;
  background-color: darkorange;
  color: white;
  position: absolute;
}
nav .cart-pro .profile img {
  width: 40px;
  border-radius: 50%;
}
nav .cart-pro .profile img:hover {
  cursor: pointer;
  border: 3px solid orange;
}
nav .cart-pro .cart-items {
  display: none;
}
nav .cart-pro .cart-items.active {
  display: block;
  position: absolute;
  top: 100%;
  background-color: white;
  left: -100%;
  width: 350px;
  min-height: 150px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px gray, 0px 20px 25px gray;
}
nav .cart-pro .cart-items.active .cart-title {
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
}
nav .cart-pro .cart-items.active .items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: gray;
}
nav .cart-pro .cart-items.active .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .cart-pro .cart-items.active .item > * {
  margin: 0px 5px;
}
nav .cart-pro .cart-items.active .item img {
  width: 50px;
  border-radius: 5px;
}
nav .cart-pro .cart-items.active .item .price p {
  margin: 5px 0px;
  padding: 0%;
}
nav .cart-pro .cart-items.active .item .total {
  color: black;
  font-weight: 600;
}
nav .cart-pro .cart-items.active .item svg {
  fill: gray;
  cursor: pointer;
  transition: fill 400ms ease;
}
nav .cart-pro .cart-items.active .item svg:hover {
  fill: black;
}
nav .cart-pro .cart-items.active .checkout-btn {
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 85%;
  color: white;
  border: none;
  background-color: darkorange;
}
@media only screen and (max-width: 1000px) {
  nav{
    padding-left: 0px;
  }
  nav .logo-cate {
    position: relative;
  }
  nav .logo-cate .logo{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    }
  nav .logo-cate .logo * {
    margin: 0px 10px;
  }
  nav .logo-cate .sandwich {
    cursor: pointer;
  }
  nav .logo-cate .cross {
    width: 90%;
    cursor: pointer;
  }
  nav .logo-cate ul {
    position: fixed;
    z-index: 2;
    top: -20px;
    left: 0%;
    width: 200px;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    transform: translateX(-100%) rotateY(90deg);
    transition: transform 400ms ease;
  }
  nav .logo-cate ul.active {
    z-index: 99;
    transform: rotateY(0deg) translateX(0px);
  }
  .overlay{
    display: none;
  }
  .overlay.active{
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.137);
  }
  nav .logo-cate ul .categories {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    width: 100%;
    height: 5%;
  }
}
/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
main .product-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .product-img .main-img {
  width: 450px;
}
main .product-img .main-img img {
  width: 100%;
  border-radius: 10px;
}
main .product-img .sub-img {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
main .product-img .sub-img img {
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 5px;
  width: 100px;
}
main .product-details {
  letter-spacing: 1px;
  width: 50%;
  padding: 0px 50px;
}
main .product-details--wrapper {
  width: 60%;
}
main .product-details .title p {
  color: orange;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}
main .product-details .title h1 {
  margin-top: 0%;
  font-size: 35px;
  font-weight: bolder;
}
main .product-details .product-description {
  font-size: 14px;
  color: gray;
}
main .product-details .price-container .price-discount {
  display: flex;
  align-items: center;
  font-weight: 900;
}
main .product-details .price-container .price-discount .price {
  font-size: 20px;
  margin: 5px 0px;
}
main .product-details .price-container .price-discount .discount {
  margin: 5px;
  padding: 0px 5px;
  border-radius: 5px;
  text-align: center;
  color: darkorange;
  background-color: rgba(255, 166, 0, 0.336);
}
main .product-details .price-container .original-price {
  font-weight: 900;
  margin: 0px;
  color: rgb(209, 209, 209);
  text-decoration: line-through;
}
main .product-details .btn-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  width: 100%;
  height: fit-content;
}
main .product-details .btn-container .amt-btn {
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  width: 120px;
  height: 40px;
}
main .product-details .btn-container .amt-btn p {
  width: 10px;
}
main .product-details .btn-container svg {
  display: flex;
  cursor: pointer;
  align-items: center;
  fill: orange;
}
main .product-details .btn-container .addTo {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  width: 65%;
  background-color: darkorange;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgb(255, 227, 174), 0px 10px 20px rgb(255, 227, 174);
}
main .product-details .btn-container .addTo * {
  margin: 0px 5px;
}
main .product-details .btn-container .addTo svg {
  fill: white;
}
@media only screen and (max-width: 1000px){
    main{
        padding: 0px;
        flex-direction: column;
    }
    main .product-img{
        width: 100%;
    }
    main .product-img .main-img img{
        border-radius: 0px;
    }
    main .product-img .sub-img{
        display: none;
    }
    main .product-details{
        width: 100%;
    }
    main .product-details .product-details--wrapper{
        padding: 0px 10px;
        width: 80%;
    }
    main .product-details .product-details--wrapper .price-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}